<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phantom.asalama.art">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".infastructure.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <provider
            android:name=".contentProvider.ContentProvider"
            android:authorities="com.phantom.asalama.art.provider"
            android:exported="false" />

        <activity android:name=".screens.home.ArtHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.detail.Details"
            android:parentActivityName=".screens.home.ArtHome"
            />
        <activity
            android:name=".screens.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".screens.home.ArtHome"
            />
        <activity android:name=".screens.collections.Collections"
            android:parentActivityName=".screens.home.ArtHome"
            android:label="@string/collections"
            />

        <receiver android:name=".widget.ArtWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/art_widget_provider_info" />
        </receiver>
    </application>

</manifest>